<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Registeration</title>
</head>

<body>
    <div class="container">
        
        <form [formGroup]="updateForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label>User Name:</label>
                <input type="text" formControlName="userName" class="form-control" [value]="user.userName" #username>
                <span *ngIf="userName && userName.touched && userName.invalid" style="color: red;">Username should not be empty.
                </span>
                <br>

                <label>Password:</label>
                <input #passwd type="password" formControlName="password" class="form-control" formControlName="password" [value]="user.password">
                <span *ngIf="password && password.touched && ((passwd.length<6)|| password.invalid)" style="color: red;">Password must be present and is of atleast of 6 characters.
                </span>
                <br>

                <label>Email address:</label>
                <input type="email" formControlName="email" class="form-control" [value]="user.email">
                <span *ngIf="email && email.touched && email.invalid" style="color: red;">Email must be present.
                </span>
                <br>

                <label>Mobile Number:</label>
                <input type="number" formControlName="mobile" class="form-control" [value]="user.mobile">
                <span *ngIf="mobile && mobile.touched && mobile.invalid" style="color: red;">Mobile number must be present.
                </span>
                <br>

                <label>Profile Image:</label>
                <input #imageInput type="file" class="form-control" disabled>
                <br>
                <button type="submit" class="btn btn-primary">Update</button>
            </div>
        </form>
    </div>
</body>

</html>